* {
    box-sizing: border-box;
}

.my-spacer {
    margin: 4% 0%;
}

.show-text {
    font-family: PoppinsBold;
    font-size: 5.5vw;
}


@media screen and (min-width: 501px) {
    .show-text {
        display: none;  
    }
}

@media screen and (max-width: 500px){
    .my-spacer {
        display: none;
    }
}
