.blue-oval-container {
    background-size: contain;
    background-position: bottom;
    border: none;
    background-repeat: no-repeat;
    padding-bottom: 9%;
}
.pincel-fondo {
    background-image: url('../images/pincel-fondo.png');
    background-color: #467BF7;
    background-size: contain;
}

.lupa {
    background-image: url('../images/lupa.png');
    background-color: #5846F7;
    background-size: contain;
    width: 40%;
}

.varita {
    background-image: url('../images/varita.png');
    background-color: #4EB3E7;
}

.movil {
    background-image: url('../images/movil.png');
    background-color: #A9BFF7;
}