.blue-oval-container {
    background-size: contain;
    background-position: bottom;
    border: none;
    background-repeat: no-repeat;
    padding-bottom: 9%;
}
.pincel-fondo {
    background-image: url('../images/pincel-fondo.png');
    background-color: #467BF7;
    background-size: contain;
}

.lupa {
    background-image: url('../images/lupa.png');
    background-color: #5846F7;
    background-size: contain;
    width: 40%;
}

.varita {
    background-image: url('../images/varita.png');
    background-color: #4EB3E7;
}

.movil {
    background-image: url('../images/movil.png');
    background-color: #A9BFF7;
}
/*
@media screen and (max-width: 1765px) {
    .lupa {
        width: 40%;
    }
}

@media screen and (max-width: 600px)
{
    .LogoAndImage {
        display: none;
    }
    .blue-oval-text {
        font-size: 0.7rem;
    }
    .blue-oval-container {
        width: 80%;
        padding: 8% 8% 20% 8%;
    }
    .oval-image {
        display: none;
    }
    .blue-oval-components-image > .oval-image {
        display: initial;
    }
    .BlueOvalComponentsImage{
        display: flex;
        justify-content: center;
    }
    .lupa {
        width: 60%;
        padding: 2% 5% 15% 5%;
    }
}
@media screen and (max-width: 600px) and (min-width: 581px) {
    .blue-oval-components-image > .oval-image {
        width: 17%;
    }
}

@media screen and (max-width: 420px) {
    .lupa {
        width: 80%;
        padding-bottom: 18%;
    }
}


@media screen and (max-width: 345px)
{
    #blue-oval-head-text {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 300px)
{
    .blue-oval-text {
        font-size: 0.6rem;
    }
    #blue-oval-head-text {
        font-size: 0.8rem;
    }
}
*/