.BlueOvalImageText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-largo {
    font-family: PoppinsLight;
    margin-right: 8%;
}

.column-first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.varita {
    width: 80%;
    padding: 7% 5% 13% 5%;
}

.column-sized-12 {
    margin: 3%;
}
