.BlueOvalImageText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-row {
    align-items: stretch;
    justify-content: space-between;
    align-content: center; 
    width: 100%;   
}
.container {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.texto-largo {
    font-family: Poppins;
    font-size: 1.5vw;
    color: #707070;
}

.column-first {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;

}
.column-second {
    width: 55%;
}
.column-first, 
    .column-second {
        height: auto;
        padding: 0;
}

.varita {
    padding: 7% 5% 13% 5%;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 500px)
{
    .column-first, 
    .column-second{
        width: 100%;
    }

    .texto-largo {
        font-size: 3vw;
    }

    .column-sized-12{
        margin: 5% 0%;
    }
}
