/* CSS */
.no-scroll {
    overflow: hidden;
    height: 100%;
}

.dropdown-three-dots-container {
    display: flex;
    justify-content: center;
}

.dropdown-divider {
    margin: 1% 7%;
    border-top: 3px solid var(--bs-dropdown-divider-bg);
}

#dropdown-item-arrow {
    padding-top: 4%;
    padding-bottom: 14%;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    --bs-dropdown-padding-y: 2.5rem;
    --bs-dropdown-min-width: 12rem;
    --bs-dropdown-padding-x: 1rem;
    border-radius: 20px;
}

.dropdown-item {
    font-size: 1.4rem;
}

#dropdown-custom {
    border: none;
    background: none;
    padding: 0;
}

#my-dropdown-menu {
        position: absolute;
        inset: 0px 0px auto auto;
        transform: translate3d(42px, -27px, 0px);
        width: 15rem;
        height: 28rem;        
}

.dropdown-item:active {
    background:none;
}
@media (max-width: 500px) {
    .dropdown-menu {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      overflow-y: auto; /* Agrega barras de desplazamiento si es necesario */
    }

    #my-dropdown-menu {
        position: fixed;
        inset: 0px;
        transform: translate3d(0px, 0px, 0px);
        height: 100vh;
        width: 50vw;
    }
    .dropdown-item {
        font-size: 3.5vw;
    }

    .social-media-in-menu {
        padding-top: 30%;
    }
}