.top-container {
    margin: 7.5% 0%;
}

/*PRIMERA COLUMNA*/
.aimas-small-logo-image {
    width: 60%;
}

.first-column {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

/*SEGUNDA COLUMNA*/

.big-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.aimas-big-logo-image {
    width: 100%;
    margin: 6% 0%;
}
.second-column {
    display: flex;
    justify-content: center;
}

/*TERCERA COLUMNA*/
.third-column-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3%;
    align-content: center;
    align-items: flex-end;
}

.third-column {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

.footer-promocional {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3%;
}
.footer-promocional > .social-media-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.third-column-container > .three-dots-container {
    padding: 11% 14% 11% 50%;
}

.third-column-container > .social-media-container {
    width: auto;
    justify-content: flex-end;
}

.third-column-container > .social-media-container > .logos {
    width: 25%;
    margin: 0%;
    margin-left: 18%;
}

/* ---------     Mostrar footer en versión móvil       ---------*/
@media screen and (min-width: 501px) {
    .footer-promocional {
        display: none;
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .second-column-three-dots {
        display: none;
    }
    .top-container{
        height: 80vh;
        min-height: 40vh;
    }
}

/* ---   Arreglar ajustes de las columnas porque bootstrap los cambia   --- */

@media screen and (max-width: 770px) and (min-width: 501px) {    
    .first-column {
        width: 25%;
    }
    .second-column {
        width: 50%;
    }
    .third-column {
        width: 25%;
    }    
}

/*Ajustes para versión móvil*/

@media screen and (max-width: 500px) {
    .oval-p {
        font-size: 5.6vw;
    }
    .third-column {
        display: none;
    }
    .second-column {
        width: 100%;
    }
    .first-column {
        display: none;
    }
    .oval-button {
        font-size: 2.7vw;
    }
    .aimas-small-logo-image {
        width: 50%;
    }
    .big-logo-container {
        align-items: flex-start;
    }
    .second-column-three-dots {
        justify-content: flex-end;
        margin: 0%;
        padding: 0%;
        width: 90%;
    }
    .aimas-big-logo-image {
        margin: 0%;
    }
}