.oval-container {
    justify-content: center;
    display: flex;
    padding: 2% 3% 4% 3%;
    border: 2px solid #bcbcbc;
    border-radius: 20px;
    font-family: Poppins, sans-serif;
    width: 22%;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
}

.oval-p {
    font-size: 2.6vw;
    display: flex;
}

.oval-container-elements {
    margin: 1%;
}

#oval-p-word1 {
    font-family: PoppinsBold;
}
.circle {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.check-image {
    width: 18%;
}

.oval-button-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-bottom: 20%;
    padding-top: 15%;
}

.oval-button {
    font-family: Poppins;
    border-radius: 6px;
    background: none;
    border: 2px solid #bcbcbc;
    padding: 3% 20%;
    font-size: 1.3vw;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*
@media only screen and (max-width: 1180px) {
    .oval-button {
        font-size: 0.9rem;
    }
    .oval-p {
        font-size: 1.5rem;
    }
    .oval-container{
        border-radius: 10px;
    }
}

@media only screen and (max-width: 890px) {
    .oval-button {
        font-size: 0.7rem;
    }
    .oval-p {
        font-size: 1.3rem;
    }
    .oval-container{
        width: 17%;
    }
}

@media only screen and (max-width: 770px) {
    .oval-button {
        font-size: 0.6rem;
    }
    .oval-p {
        font-size: 1.2rem;
    }
}


@media only screen and (max-width: 580px) {
    .oval-button {
        font-size: 0.6rem;
    }
    .oval-p {
        font-size: 1.2rem;
    }
    .oval-container{
        width: 30%;
    }
}

@media only screen and (max-width: 340px) {
    .oval-container{
        width: 40%;
    }
}
*/
