.oval-images-container {
    display: contents;
    position: fixed;
}

.oval-components-image-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.oval-image {
    width: 13%;
    margin: 2%;
}


@media only screen and (max-width: 1400px) {
    .oval-image {
        width: 15%;
    }
}


@media only screen and (max-width: 930px) {
    .oval-image {
        width: 23%;
    }
}


@media only screen and (max-width: 700px) {
    .oval-image {
        width: 25%;
    }
}

@media only screen and (max-width: 600px) {
    .oval-components-image-container {
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
    }
}