.oval-components-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
  .regular-ovals {
    display: contents;
    position: fixed;
}

.oval-components-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: auto;
    width: 100%;
}
  
@media only screen and (max-width: 500px) {
    .oval-components-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
    }
    .oval-components-inner-container {
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: auto;
    }
    .regular-ovals {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: stretch;
        margin: 5% 0%;
        position: initial;
    }

    .regular-ovals,
     #no-image-blue-oval {
        width: 80%;
        height: 40vw;
        justify-content: space-between;
    }

    .regular-ovals > .oval-container {
        border-radius: 12px;
        width: 45%;
        margin: 0% 0%;
    }

    #no-image-blue-oval {
        border-radius: 12px;
    }

    #blue-oval-head-text {
        justify-content: center;
    }


}