.contenedor-principal-promo2 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.contenedor-texto-principal-promo2 {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.contenedor-tags-texto {
    display: flex;
    justify-content: flex-start;
    font-family: PoppinsExLight;
    font-size: 1.5vw;
}

.tags-texto {
    margin: 0% 3%;
    letter-spacing: 2px;
}

#irsitio-text {
    color: #e82700ec;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .contenedor-tags-texto {
        font-size: 3vw;
    }
}

