@font-face {
    font-display: block;
    font-family: Poppins;
    src: url(./fonts/Poppins/Poppins-Regular.ttf);
}

.imagen-contenedor-principal {
    width: 30%;
    height: 20%;
    margin: 1% 1%;
    padding: 1% 1%;
    border-radius: 30px;
    display: flex;
}

.contenedor-principal {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.contenedor-texto-principal {
    font-family: Poppins, sans-serif;
    margin-right: 20%;
    text-align: justify;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 2%;
    font-size: 1.5rem
}

.texto-principal {
    font-weight: bolder;
    font-size: 1.7rem;
}


/* Aquí es donde comienza el Media Queries */
@media screen and (max-width: 1000px) {
    .imagen-contenedor-principal {
        width: 70%;
        height: auto;
    }

    .contenedor-texto-principal {
        font-size: 1.2rem;
        margin: 10% 10%;
    }

    .contenedor-principal {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
}
