.portada-inner-container {
    display: flex;
    justify-content: space-between;
    margin: 5% 0% 0% 0%;
}

.portada-imagen-container,
.contenedor-texto-principal {
    width: 47%;
}

.imagen-contenedor-principal {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.contenedor-principal {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.texto-principal {
    font-family: PoppinsBold;
    font-size: 2.5vw;
    letter-spacing: 1px;
}

.texto-secundario {
    color: #707070;
    font-family: Poppins;
    font-size: 1.3vw;
}

@media screen and (max-width: 500px) {
    .portada-inner-container {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .portada-imagen-container,
    .contenedor-texto-principal {
        width: 100%;
    }

    .imagen-contenedor-principal {
        border-radius: 0px;
    }

    .texto-principal {
        font-size: 4.5vw;
    }

    .contenedor-texto-principal{
        margin: 5% 0% 0% 0%;
    }
    .texto-secundario {
        font-size: 3vw;
    }


}

