.social-media-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    padding: 3% 0%;
    width: 31%;
}

.logo-images {
    width: 87%;
}

.logos {
    width: 15%;
    margin: 0% 9% 0% 0%;
    padding: 1%;
}

.dropdown-item > .social-media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 3%;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .logos {
        margin: 3%;
    }

    .logo-images {
        width: 130%;
    }


}

@media only screen and (min-width: 501px) {
    .dropdown-item > .social-media-container {
        display: none;
    }
}