.text-info-container {
    padding: 2%;
    margin: 3%;
}

.main-text {
    font-family: PoppinsBold;
    font-size: 1.7rem;
}

.sec-text {
    font-family: Poppins;
    font-size: 1.5rem;
    color: #707070;
}

.button-text {
    font-family: PoppinsLight;
    font-size: 1rem;
    color: #474747;
    border: 1px solid #474747;
    border-radius: 5px;
    border-color: #474747;
    background: none;
    padding: 0.5% 8%;
}

.oval-button-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 0%;
    padding-top: 2%;
    margin: 1% 3%;
}

@media screen and (max-width: 600px) {
    .main-text {
        font-size: 1.5rem;
    }
    .sec-text {
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 600px) {
    .main-text {
        font-size: 1.3rem;
    }
    .sec-text {
        font-size: 1rem;
    }
    .button-text {
        font-size: 0.8rem;
    }
}