.text-info-container {
    padding: 1% 0%;
    margin: 2% 0%;
}

.main-text {
    font-family: PoppinsBold;
    font-size: 2.2vw;
}

.sec-text {
    font-family: Poppins;
    font-size: 1.5vw;
    color: #707070;
}

.button-text {
    font-family: 'PoppinsLight';
    font-size: 1.5vw;
    color: #474747;
    border: 2px solid #A4A4A4;
    border-radius: 5px;
    background: none;
    padding: 0.5% 2%;
    min-width: 30%;
    max-width: 25%;
    overflow-wrap: break-word;
}

.oval-button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0%;
    padding-top: 2%;
    align-content: center;
}

/*
@media screen and (max-width: 600px) {
    .main-text {
        font-size: 1.5rem;
    }
    .sec-text {
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 600px) {
    .main-text {
        font-size: 1.3rem;
    }
    .sec-text {
        font-size: 1rem;
    }
    .button-text {
        font-size: 0.8rem;
    }
}
*/
