.movil, .rueditas, .flecha {
    width: 45%;
    background-size: cover;
}

.frank-web, .camion {
    width: 50%;
    border-radius: 15px;
    height: auto;

}

.container-blue-oval-two-images {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.first-two-images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}


.promo-web-design {
    width: 25%;
    height: 100%;
}

.mac-design {
    height: fit-content;
    width: 100%;
}

.mac-design-container {
    display: flex;
    align-items: flex-end;
    height: auto;
    justify-content: flex-end;
    width: 25%;
    align-content: flex-end;
}


.rueditas {
    background-image: url('../images/rueditas.png');
    background-color: #4EB3E7;
}

.flecha {
    background-image: url('../images/flecha.png');
    background-color: #0086CB;
}
@media screen and (max-width: 500px) {
    .frank-web,
    .camion,
    .mac-design-container,
    .promo-web-design {
        display: none;
    }
    .movil, .rueditas, .flecha {
        width: 100%;
        background-size: cover;
        height: 40vw;
    }
    
}
