@font-face {
  font-display: block;
  font-family: Poppins;
  src: url(./css/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-display: block;
  font-family: PoppinsBold;
  src: url(./css/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-display: block;
  font-family: PoppinsLight;
  src: url(./css/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-display: block;
  font-family: PoppinsExBold;
  src: url(./css/fonts/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
  font-display: block;
  font-family: PoppinsExLight;
  src: url(./css/fonts/Poppins/Poppins-ExtraLight.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: Poppins, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
